$main-color: #557a95;
$opposite_main_color: #ffffff;

* {
	margin: 0;
	padding: 0;
}

.container {
	margin-top: 25px;
	text-align: center;
}

.button {
	border: 1px solid $main-color;
	background: none;
	padding: 10px 20px;
	margin: 5px;
	font-size: 15px;
	font-family: "sans-serif";
	cursor: pointer;
	transition: 0.5s;
	position: relative;
	overflow: hidden;
}

.button::before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0%;
	background: $main-color;
	z-index: -1;
	transition: 0.5s;
}

.button_white {
	color: $main-color;
}

.button_white:hover {
	color: $opposite_main_color;
}

.button_full {
	color: $opposite_main_color;
}

.button_full:hover {
	color: $main-color;
}

.button_white::before {
	top: 0;
	border-radius: 0 0 50% 50%;
}

.button_full::before {
	bottom: 0;
	border-radius: 50% 50% 0 0;
}

.button_full::before {
	height: 200%;
}

.button_full:hover::before {
	height: 0%;
}

.button_white:hover::before {
	height: 200%;
}

